{% extends "base.html" %}
{% block title %}Student Registration{% endblock %}

{% block content %}
<h2>Student Registration</h2>
<form method="POST">
    <input type="text" name="fullname" placeholder="Full Name" required><br>
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="text" name="class_level" placeholder="Class"><br>
    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}
